<a href="https://colab.research.google.com/github/21130407KhuongVo/MachineLearning/blob/main/Lab_2_21130407_VoNguyenNhatKhuong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab #2
This lab is the first step to get farmilliar with some common Machine Learning libraries, named ***Pandas*** and ***Matlotlib***.

*   **Deadline: 23:59, 18/03/2024**

#0. Mount Drive

In [6]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive

#1. Import libraries

In [2]:
# code
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#2. Load dataset

*   Load dataset (named ***student-dataset.csv***) using ***read_csv*** from pandas
*   Then, display 10 last examples

In [7]:
# code
dataset = pd.read_csv("student-dataset.csv")

#3. Show statistics of the given dataset

In [14]:
# code
dataset.describe()

,id,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
count,307.000000,0.0,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000
mean,153.000000,NaN,21.964169,3.369707,3.414332,3.446580,4.396417,3.986971,4.110749,4.188925
std,88.767487,NaN,1.248013,0.538724,0.476839,0.509081,0.996474,0.928749,0.823936,0.842193
min,0.000000,NaN,19.000000,1.500000,2.100000,1.400000,1.000000,1.000000,1.000000,1.000000
25%,76.500000,NaN,21.000000,3.100000,3.100000,3.200000,4.000000,3.500000,4.000000,4.000000
50%,153.000000,NaN,22.000000,3.500000,3.500000,3.600000,5.000000,4.000000,4.000000,4.000000
75%,229.500000,NaN,23.000000,3.800000,3.800000,3.800000,5.000000,5.000000,5.000000,5.000000
max,306.000000,NaN,26.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000

#4. Sort dataset by ***nationality***

In [12]:
# code
dataset.nationality

0                         China
1      United States of America
2      United States of America
3      United States of America
4                        Brazil
                 ...
302    United States of America
303    United States of America
304    United States of America
305    United States of America
306                      Canada
Name: nationality, Length: 307, dtype: object

#5. Group dataset by ***nationality*** and ***gender***

In [13]:
# code
dataset.groupby(nationality, gender)

NameError: name 'nationality' is not defined

#6. Use scatter plot to represent the relationship between ***age*** and ***refletter.rating***
Rememer adding titles, xlabel, ylabel, ... to the plot

In [ ]:
# code

#7. Use scatter plot to represent the relationship between ***age*** and ***sciences.grade***
Rememer adding titles, xlabel, ylabel, ... to the plot

In [ ]:
#code

#8. Use histogram plot to represent the distribution of ***Age***
using bins=5

In [ ]:
#code

#9. Create a data frame that computes the average of ages in each countries?

Hint: Use groupby, select the age column and aggregate using mean.

In [ ]:
#code

#10. Create a dataframe including average of ***english.grade, math.grade, sciences.grade, language.grade, portfolio.rating, coverletter.rating, refletter.rating*** of each country

In [ ]:
#code

#Finally,
Remember renaming the notebook.