<a href="https://colab.research.google.com/github/21130407KhuongVo/MachineLearning/blob/main/Lab_2_21130407_VoNguyenNhatKhuong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab #2
This lab is the first step to get farmilliar with some common Machine Learning libraries, named ***Pandas*** and ***Matlotlib***.

*   **Deadline: 23:59, 18/03/2024**

#0. Mount Drive

In [6]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive

#1. Import libraries

In [2]:
# code
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#2. Load dataset

*   Load dataset (named ***student-dataset.csv***) using ***read_csv*** from pandas
*   Then, display 10 last examples

In [7]:
# code
dataset = pd.read_csv("student-dataset.csv")

#3. Show statistics of the given dataset

In [8]:
# code
dataset

,id,name,nationality,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,F,NaN,22,3.5,3.7,3.1,1.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,M,NaN,22,2.9,3.2,3.6,5.0,5,4.0,5
2,2,Dakota Blanco,United States of America,F,NaN,22,3.9,3.8,3.2,5.0,3,3.0,4
3,3,Natasha Yarusso,United States of America,F,NaN,20,3.3,2.8,3.2,5.0,5,2.0,4
4,4,Brooke Cazares,Brazil,F,NaN,21,3.7,2.6,3.4,1.0,4,4.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,302,Austin Haas,United States of America,M,NaN,20,3.6,3.7,3.1,5.0,4,5.0,5
303,303,Madison Fithian,United States of America,F,NaN,20,3.6,3.9,4.0,5.0,5,5.0,3
304,304,Zachary Mulvahill,United States of America,M,NaN,20,3.2,3.4,3.9,5.0,5,5.0,3
305,305,Eliana Michelsen,United States of America,F,NaN,23,3.0,2.8,2.9,5.0,4,4.0,5
306,306,Dane Whittemore,Canada,M,NaN,21,3.8,3.2,4.0,5.0,5,4.0,5

#4. Sort dataset by ***nationality***

In [ ]:
# code

#5. Group dataset by ***nationality*** and ***gender***

In [ ]:
# code

#6. Use scatter plot to represent the relationship between ***age*** and ***refletter.rating***
Rememer adding titles, xlabel, ylabel, ... to the plot

In [ ]:
# code

#7. Use scatter plot to represent the relationship between ***age*** and ***sciences.grade***
Rememer adding titles, xlabel, ylabel, ... to the plot

In [ ]:
#code

#8. Use histogram plot to represent the distribution of ***Age***
using bins=5

In [ ]:
#code

#9. Create a data frame that computes the average of ages in each countries?

Hint: Use groupby, select the age column and aggregate using mean.

In [ ]:
#code

#10. Create a dataframe including average of ***english.grade, math.grade, sciences.grade, language.grade, portfolio.rating, coverletter.rating, refletter.rating*** of each country

In [ ]:
#code

#Finally,
Remember renaming the notebook.